<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
   <div class="about-content">
       <h2>About Us</h2>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo officiis nulla vel incidunt cum nam praesentium facere fugit id, quas magnam aut dignissimos adipisci, dolor harum! Explicabo cupiditate iure veniam.</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo officiis nulla vel incidunt cum nam praesentium facere fugit id, quas magnam aut dignissimos adipisci, dolor harum! Explicabo cupiditate iure veniam.</p>
  
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo officiis nulla vel incidunt cum nam praesentium facere fugit id, quas magnam aut dignissimos adipisci, dolor harum! Explicabo cupiditate iure veniam.</p>
</div>
<%- include('./partials/footer.ejs')%>
    </body>
</html>